/*Em CSS podemos alterar estilos por classe, tag ou id ("sessão") */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@600&display=swap');

body {
    background-color: rgb(136, 69, 69);
}

h1 {
    display: flex;
    justify-content: center;
    padding-top: 2%;
    color:rgb(197, 191, 175);
    text-shadow: 0px 1px 2px black;
}

main {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(5, 20%);
    grid-gap:1px;
    max-width: 33%;
    margin-left: 33%;
    border: 1px solid;
    /*
    padding-top: 5%;
    align-items: center;
    */
}

.num {

/*
flex: 1 1 auto;
margin-top: 3px;
align-items: center;
justify-content: center;
height: 65px;

*/
padding:5%;
margin: 1px;
font-family: 'Fira Sans', sans-serif;
background-color: rgba(211, 148, 148, 0.746);;
border: unset;
box-shadow: 0px 1px 2px black;
}

button:hover {
    background-color: rgb(197, 191, 175);
}


#visor {
    /*display: flex;
    height: 65px;
    width: 195px;
    font-family: 'Fira Sans', sans-serif;
    background-color: rgb(197, 191, 175);
    border: unset;
    box-shadow: 0px 1px 2px black;
    margin-left: 80px;
    height: 62px;
    
    margin-top: 5px;
    margin-right: 5px;
    */
    
    grid-column: 1/4;
    grid-row: 5/5;
    padding: 5%;
    background-color: rgb(226, 188, 188);
    border: unset;
    box-shadow: 0px 0px 2px black;
    
}

